body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    color: #B0B3B8;
    background-color: #18191A;
    padding-top: 96px;
    padding-bottom: 24px;
}

h1 {
    color: #E4E6EB;
    margin-left: 0.5%;
}

h5 {
    color: #E4E6EB;
}


.links {
    color: #E4E6EB;
}

.links ul {
    padding:0;
    list-style:none;
    text-align: center;
}

.links li {
    display: inline-block;
    margin-right: 20px;
}

.links a {
    color: #E4E6EB;
    text-decoration: none;
    font-size: 28px;
}

.social {
    text-align: right;
    font-size: 36px;
}

/*https://colorhunt.co/palette/070f2b1b1a55535c919290c3*/

.all {
    border-radius: 25px;
    background-color: #18191A;
}

.about {
    /* background-color:red; */
    background-color: #242526;
    margin-bottom: 2%;
    border-radius: 5px;
}

.projects {
    /* background-color:aqua; */
    background-color: #18191A;
}

.btn {
    background-color: #72BDA3;
    border-style: hidden;
}

.contact {
    /* background-color: lime; */
    background-color: #242526;
    margin-bottom: -5%;
}

.contact ul {
    list-style:none;
    text-align: center;
    margin-top: 1%;
}

.contact li {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    text-decoration: none;
}

.contact a {
    color:#72BDA3;
    text-decoration: none;
}

.card {
    background-color: #242526;
    color:#B0B3B8;
}

.card h5 {
    color: #E4E6EB;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    object-fit: cover;
}

